!.code-workspace
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*Notes.bib
*~
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*-blx.aux
*-blx.bib
*-converted-to.*
*-Ex.R
*-gnuplottex-*
*-prefix/
*-tags.tex
*-tikzDictionary
*_cache/
.AppleDouble
.clangd/
.cursor/
.cursorignore
.directory
.DS_Store
.fuse_hidden*
.history
.history/
.idea/
.ionide
.LSOverride
.nfs*
.RData
.RDataTmp
.Rapp.history
.REnviron
.Rhistory
.Rproj.user/
.Ruserdata
.Trash-*
.vs/
._deps
._minted*
./auto/*
.__history/
.__recovery/
.a
.acn
.acr
.alg
.apk
.app
.atfi
.aux
.auxlock
.bak
.bbl
.bbl-SAVE-ERROR
.bcf
.bcf-SAVE-ERROR
.blg
.bpl
.bpi
.brf
.build/
.cab
.cb
.cb2
.cfg
.cm
.cmd
.code-snippets
.compile_commands.json
.conan_imports_*/
.conanbuildinfo.txt
.conaninfo.txt
.concordance.tex
.coverage/
.cpt
.cursor/
.cursorignore
.cut
.d
.data.minted
.ddp
.dcp
.dcu
.dSYM/
.drc
.dres
.dsv
.dvi
.dwo
.dylib
.el
.elf
.eledsec[1-9]
.eledsec[1-9][0-9]
.eledsec[1-9][0-9][0-9]
.eledsec[1-9]R
.eledsec[1-9][0-9]R
.eledsec[1-9][0-9][0-9]R
.end
.env/
.ent
.eps
.exe
.exp
.extensions.json
.fdb_latexmk
.fff
.filters
.flatpak
.fls
.fmt
.fot
.fuse_hidden*
.gaux
.gcda
.gch
.gcno
.glg
.glg-abr
.glo
.glo-abr
.gls
.gls-abr
.glsdefs
.gnuplot
.gtex
.hd
.hex
.htm
.httr-oauth
.hpp
.hst
.html/
.i*86
.idb
.idx
.idv
.ign
.ilg
.ilk
.iml
.ind
.install_manifest.txt
.ionide
.ist
.ko
.la
.lai
.latex.out/
.latex/
.lb
.lg
.lib
.listing
.lnk
.lo
.loa
.lof
.log
.lod
.loe
.lol
.lpj
.lpz
.ls
.ltjruby
.ltx
.lxs
.lzo
.lzs
.lyx~
.maf
.map
.md5
.mdf
.mf
.mlf
.mlt
.mod
.mod*
.mp
.msp
.msi
.msix
.msm
.mtc[0-9]*
.mw
.nav
.newpax
.nfs*
.nlg
.nlo
.nls
.o
.obj
.oca
.ocx
.out
.pax
.pch
.pdb
.pdf
.pdfpc
.pdfsync
.phot
.pidb
.po/*~
.pre
.projdata
.ps
.pth
.ptc
.pyg
.pythontex-files-*/
.pytxcode
.res
.resource.rc
.rsm
.rsconnect/
.rubber.cache
.rubbercache
.run.xml
.sagetex.py
.sagetex.sage
.sagetex.scmd
.sav
.slf[0-9]*
.slg
.slo
.sls
.smod
.snm
.snap
.so
.so.*
.soc
.spell.bad
.spell.txt
.spl
.sta
.stackdump
.stat
.stc[0-9]*
.su
.suo
.svg-inkscape/
.swn
.swo
.swp
.sympy
.sympy-plots-for-*.tex/
.synctex
.synctex(busy)
.synctex.gz
.synctex.gz(busy)
.table
.tags.tex
.td
.tdo
.tds
.tfm
.thm
.tikz
.tmp_versions/
.toc
.tps
.trc
.ttt
.tvsconfig
.upa
.upb
.utf8.md
.user
.userprefs
.ver
.vlb
.vrb
.vscode/*
.vsix
.vs/
.wrt
.x86_64
.xcp
.xdy
.xmpi
.xref
.xwm
.xyc
.xyd
[Dd]esktop.ini
acs-*.bib
build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
compile_commands.json
conan_imports_*/
conanbuildinfo.txt
conaninfo.txt
CTestTestfile.cmake
coverage/
dkms.conf
docker-compose.override.yml
docs/
docs/html/
docs/latex/
ehthumbs.db
ehthumbs_vista.db
env/
install_manifest.txt
Linux64/
Makefile
Mkfile.old
Module.symvers
modules/
modules.order
Testing
Thumbs.db
Thumbs.db:encryptable
TSWLatexianTemp*
Win32/
Win64/
$RECYCLE.BIN/
/*.Rcheck/
/*.tar.gz
ghidra_mcp_bridge.log
.github/*.md
