!.code-workspace
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
.DS_Store
.RData
.RDataTmp
.Rapp.history
.REnviron
.Rhistory
.Rproj.user/
.Ruserdata
.Trash-*
Testing
Thumbs.db
Thumbs.db:encryptable
TSWLatexianTemp*
Win32/
Win64/
$RECYCLE.BIN/
/*.Rcheck/
/*.tar.gz
acs-*.bib
compile_commands.json
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
dkms.conf
docs/
ehthumbs.db
ehthumbs_vista.db
env/
install_manifest.txt
latex.out/
Linux64/
Makefile
Mkfile.old
Module.symvers
modules/
modules.order
po/*~
pythontex-files-*/
rsconnect/
rubber.cache
svg-inkscape/
sympy-plots-for-*.tex/
vignettes/*.html
vignettes/*.pdf
._deps
._minted*
__history/
__recovery/
./auto/*
.bak
.bak*
.bak[0-9]*
.backup
.bbl
.bbl-SAVE-ERROR
.bcf
.bcf-SAVE-ERROR
.blg
.bpl
.bpi
.brf
.cb
.cb2
.cfg
.cm
.cmd
.concordance.tex
.cursor/
.cursorignore
.cpt
.d
.dSYM/
.ddp
.dcp
.dcu
.drc
.dres
.dsv
.dvi
.dwo
.dylib
.el
.elf
.eledsec[1-9]
.eledsec[1-9]R
.eledsec[1-9][0-9]
.eledsec[1-9][0-9]R
.eledsec[1-9][0-9][0-9]
.eledsec[1-9][0-9][0-9]R
.ent
.eps
.exe
.exp
.fdb_latexmk
.fff
.fls
.fmt
.fot
.gaux
.gch
.glog
.glo
.glo-abr
.gls
.gls-abr
.glsdefs
.gnuplot
.gtex
.hd
.hex
.htm
.httr-oauth
.hpp
.hst
.i*86
.idb
.idx
.idv
.ign
.ilg
.ilk
.ind
.ist
.ko
.la
.lai
.lb
.lg
.lib
.listing
.local
.lo
.loa
.lof
.log
.lod
.loe
.lol
.lpj
.lpz
.ls
.ltjruby
.ltx
.lxs
.lzo
.lzs
.lyx~
.maf
.map
.md5
.mdf
.mf
.mlf
.mlt
.mod
.mod*
.mp
.mtc[0-9]*
.mw
.nav
.newpax
.nlg
.nlo
.nls
.obj
.oca
.ocx
.o
.out
.pax
.pch
.pdb
.pdf
.pdfpc
.pdfsync
.phot
.pre
.projdata
.ps
.pth
.ptc
.pyg
.pytxcode
.res
.resource.rc
.rsm
.run.xml
.rubbercache
.sagetex.py
.sagetex.sage
.sagetex.scmd
.sav
.sls
.slf[0-9]*
.slo
.slt[0-9]*
.smod
.snm
.soc
.so
.so.*
.spell.bad
.spell.txt
.spl
.sta
.stc[0-9]*
.stat
.su
.sympy
.synctex
.synctex(busy)
.synctex.gz
.synctex.gz(busy)
.table
.tags.tex
.td
.tdo
.tds
.tfm
.thm
.tikz
.tmp_versions/
.toc
.tps
.trc
.ttt
.tvsconfig
.upa
.upb
.utf8.md
.ver
.vlb
.vscode/*
.vs
.vsix
.vrb
.wrt
.x86_64
.xcp
.xdy
.xdw
.xmpi
.xref
.xwm
.xyc
.xyd
~[0-9]*
*-blx.aux
*-blx.bib
*-converted-to.*
*-Ex.R
*-gnuplottex-*
*-tags.tex
*-tikzDictionary
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*Notes.bib
*_cache/
*.?end
*.a
*.acn
*.acr
*.alg
*.apk
*.app
*.atfi
*.aux
*.auxlock
*.bak
*.bak*
*.bak[0-9]*
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.bpl
*.bpi
*.brf
*.cb
*.cb2
*.cfg
*.concordance.tex
*.cpt
*.cut
*.data.minted
*.ddp
*.dcp
*.dcu
*.dll
*.drc
*.dres
*.dsv
*.dvi
*.dwo
*.dylib
*.el
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.elf
*.end
*.ent
*.eps
*.exe
*.exp
*.fdb_latexmk
*.fff
*.fls
*.fmt
*.fot
*.gaux
*.gch
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.glsdefs
*.gnuplot
*.gtex
*.hd
*.hex
*.hst
*.i*86
*.idb
*.idx
*.idv
*.ilg
*.ilk
*.ind
*.ist
*.ko
*.la
*.lai
*.lb
*.lg
*.lib
*.listing
*.local
*.lo
*.loa
*.lof
*.log
*.lod
*.loe
*.lol
*.lpz
*.ltjruby
*.lzo
*.lzs
*.lyx~
*.maf
*.map
*.md5
*.mf
*.mlf
*.mlt
*.mod
*.mod*
*.mp
*.mtc[0-9]*
*.mw
*.nav
*.newpax
*.nlg
*.nlo
*.nls
*.obj
*.ocx
*.o
*.out
*.pax
*.pch
*.pdb
*.pdf
*.pdfpc
*.pdfsync
*.pre
*.projdata
*.ps
*.ptc
*.pyg
*.pytxcode
*.res
*.rsm
*.run.xml
*.rubbercache
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.slf[0-9]*
*.slg
*.slo
*.sls
*.snm
*.soc
*.so
*.so.*
*.spell.bad
*.spell.txt
*.spl
*.sta
*.stc[0-9]*
*.stat
*.su
*.sympy
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.table
*.tdo
*.tds
*.tfm
*.thm
*.tikz
*.toc
*.tps
*.trc
*.ttt
*.upa
*.upb
*.utf8.md
*.ver
*.vlb
*.vrb
*.vsix
*.wrt
*.x86_64
*.xcp
*.xdy
*.xmpi
*.xref
*.xwm
*.xyc
*.xyd
.*.identcache
.*.lb
.*.projdata
.*.swp
.*.~*
.cursor/
.cursorignore
.directory
.fuse_hidden*
.history
.history/
.ionide
.nfs*
[Dd]esktop.ini